.DS_Store
.vscode/*
.idea/*

*.sw?

bin/*

gen/html/templates/*.js.tmpl

# Ignore everything in vendor/, except for *.go files,
# LICENSE and COPYING. Ignore Go tests.
vendor/**/*
!vendor/**/
!vendor/**/*.go
!vendor/**/*.h
!vendor/**/*.s
!vendor/**/*.c
!vendor/**/*.proto
!vendor/**/LICENSE*
!vendor/**/COPYING*
vendor/**/*_test.go
